@{ 
    var photoUrl = !string.IsNullOrEmpty(User.GetPhotoUrl()) ? User.GetPhotoUrl() : Url.Content("~/img/default_profile.png");
}

<aside id="aside" class="app-aside hidden-xs bg-dark">
    <div class="aside-wrap">
        <div class="navi-wrap">
            <div class="clearfix hidden-xs text-center hide" id="aside-user">
                <div class="dropdown wrapper">
                    <a href="#">
                        <span class="thumb-lg w-auto-folded avatar m-t-sm">
                            <img src="@photoUrl" class="img-full" alt="..." />
                        </span>
                    </a>
                    <a data-toggle="dropdown" class="dropdown-toggle hidden-folded">
                        <span class="clear">
                            <span class="block m-t-sm">
                                <strong class="font-bold text-lt">@User.Identity.Name</strong>
                            </span>
                            <span class="text-muted text-xs block">Administrator</span>
                        </span>
                    </a>
                </div>
                <div class="line dk hidden-folded"></div>
            </div>
            <nav ui-nav class="navi clearfix">
                <ul class="nav">
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span>Navigation</span>
                    </li>
                    <li>
                        <a href="#" class="auto">
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="glyphicon glyphicon-user text-primary-dker"></i>
                            <span class="font-bold">Users</span>
                        </a>
                        <ul class="nav nav-sub dk">
                            <li class="nav-sub-header">
                                <a href="#">
                                    <span>Users</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="Administration" asp-controller="@Daarto.Controllers.Administration.UsersController.Name" asp-action="@nameof(Daarto.Controllers.Administration.UsersController.Index)">
                                    <span>System Users</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="Administration" asp-controller="@Daarto.Controllers.Administration.UsersController.Name" asp-action="@nameof(Daarto.Controllers.Administration.UsersController.Create)">
                                    <span>Add New</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <b class="badge bg-info pull-right">9</b>
                            <i class="glyphicon glyphicon-envelope text-info-lter"></i>
                            <span class="font-bold">Email</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</aside>