<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewBag.Title - Daarto</title>
    @{ await Html.RenderPartialAsync("_MainStylesPartial"); }
    @* At this point we can add page specific styles. *@
    @(await RenderSectionAsync("Css", false))
</head>
<body>
    <div class="app app-header-fixed ">
        <div class="container w-xxl w-auto-xs">
            <a class="navbar-brand block m-t">Daarto</a>
            <div class="m-b-lg">
                @RenderBody()
            </div>
            <div class="text-center">
                <p>
                    <small class="text-muted">Daarto<br />&copy; @DateTime.Now.Year</small>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @(await RenderSectionAsync("Scripts", false))
</body>
</html>
